<form class="form-horizontal" id="editFirewallRule">
	<input type="hidden" name="ip_version" value="{{ip_version}}">
	<div class="form-group">
		<label for="name" class="control-label col-sm-3"><span style="color: red;">* </span>名称：</label>
		<div class="col-sm-7 col-sm">
			<input type="text" class="form-control" name="name"  value="{{name}}">
		</div>
	</div>
	<div class="form-group">
		<label for="description" class="control-label col-sm-3">描述：</label>
		<div class="col-sm-7 col-sm">
			<input type="text" class="form-control" name="description" value="{{description}}">
		</div>
	</div>
	<div class="form-group">
		<label for="protocol" class="control-label col-sm-3"><span style="color: red;">* </span>协议：</label>
		<div class="col-sm-7 col-sm">
			<select class="form-control select" name="protocol">
				<option value="TCP" {{if protocol == 'TCP'}} selected {{/if}}>TCP</option>
				<option value="UDP" {{if protocol == 'UDP'}} selected {{/if}}>UDP</option>
				<option value="ICMP" {{if protocol == 'ICMP'}} selected {{/if}}>ICMP</option>
				<option value="UNRECOGNIZED" {{if protocol == 'UNRECOGNIZED'}} selected {{/if}}>任何</option>
				
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="action" class="control-label col-sm-3"><span style="color: red;">* </span>动作：</label>
		<div class="col-sm-7 col-sm">
			<p>
				<input type="checkbox" name="action" data-size="small" data-on-text="允许" data-off-text="拒绝"  {{if action == 'ALLOW'}} checked {{/if}}>
			</p>
		</div>
	</div>
	<div class="form-group">
		<label for="source_ip_address" class="control-label col-sm-3">源IP地址/子网：</label>
		<div class="col-sm-7 col-sm">
			<input type="text" class="form-control" name="source_ip_address" value="{{source_ip_address}}">
		</div>
	</div>
	<div class="form-group">
		<label for="source_port" class="control-label col-sm-3">源端口/端口范围：</label>
		<div class="col-sm-7 col-sm">
			<input type="text" class="form-control" name="source_port" value="{{source_port}}">
		</div>
	</div>
	<div class="form-group">
		<label for="destination_ip_address" class="control-label col-sm-3">目的IP地址/子网：</label>
		<div class="col-sm-7 col-sm">
			<input type="text" class="form-control" name="destination_ip_address" value="{{destination_ip_address}}">
		</div>
	</div>
	<div class="form-group">
		<label for="destination_port" class="control-label col-sm-3">目的端口/端口范围：</label>
		<div class="col-sm-7 col-sm">
			<input type="text" class="form-control" name="destination_port" value="{{destination_port}}">
		</div>
	</div>
	<div class="form-group">
		<label for="shared" class="control-label col-sm-3">共享的：</label>
		<div class="col-sm-7 col-sm">
			<p>
				<input type="checkbox" name="shared" data-size="small" data-on-text="是" data-off-text="否"  {{if shared}} checked {{/if}}>
			</p>
		</div>
	</div>
	<div class="form-group">
		<label for="enabled" class="control-label col-sm-3">激活：</label>
		<div class="col-sm-7 col-sm">
			<p>
				<input type="checkbox" name="enabled" data-size="small" data-on-text="启用" data-off-text="禁用"  {{if enabled}} checked {{/if}}>
			</p>
		</div>
	</div>
</form>
