<div class="choose-wrapper  clearfix">
	<div class="show-all {{groupAllClass}} col-sm">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading clearfix">
		  	<span>全部</span>
		  	{{if headAppend}}{{#uiSelect(headAppend)}}{{/if}}
		  </div>
		 <div class="panel-body clearfix">
		   <form class="form-search">
			  	<input type="text" class="search-query">
			  	<i class="fa fa-search"></i>
		  	</form>
		  </div>
		
		  <div class="list-group list-group-all">
		  	{{each allData as item i}}
		  	<ul class="nav nav-pills btn-group btn-group-sm list-group-item">
				{{if typeof item ==='string'}}
					<li class="member adjust" data-id="{{item}}" data-name="{{item}}">
					<span class="display_name">{{item}}</span>
				</li>
					{{else}}
					{{if item.icon_type}}
			  			<li class="item_type">
							<i class="type_icons {{item.icon_type}}"></i>
						</li>
					{{/if}}
				<li class="member adjust" data-id="{{item.id}}" data-name="{{item.name}}">
					<span class="display_name">{{item.name}}</span>
				</li>
				{{/if}}
				<li class="pull-right adjust icon"><i class="fa fa-plus-circle"></i></li>
		  	</ul>
		  	{{/each}}
		  	{{if loadmore ==true}}
		  	<a class="loadmore" href="javascript:void(0)">
		  		加载更多...
		    </a>
		    {{/if}}
	    	</div>
	  </div>
	</div>
	<div class="show-selected {{groupSelectedClass}} col-sm">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading clearfix">已选择</div>
		 <div class="panel-body clearfix">
		   <form class="form-search">
			  	<input type="text" class="search-query">
			  	<i class="fa fa-search"></i>
		  	</form>
		  </div>
		  <!-- List group -->
		  <div class="list-group list-group-select">
			  {{each selectData as item i}}
			  	<ul class="nav nav-pills btn-group btn-group-sm list-group-item">
			  	  {{if typeof item ==='string'}}
					<li class="member adjust" data-id="{{item}}" data-name="{{item}}">
						<span class="display_name">{{item}}</span>
					</li>
					{{else}}
					{{if item.icon_type}}
			  			<li class="item_type">
							<i class="type_icons {{item.icon_type}}"></i>
						</li>
					{{/if}}
					<li class="member adjust" data-id="{{item.id}}" data-name="{{item.name}}">
						<span class="display_name">{{item.name}}</span>
					</li>
				  {{/if}}
					<li class="pull-right adjust icon"><i class="fa fa-minus-circle {{item.minus_class}}"></i></li>
			  	</ul>
			  {{/each}}
		  </div>
		</div>
	</div>
</div>
