<table class="table table-primary table-striped" id="VolumeTable">
	<thead>
		<tr>
			<th class="c15">名称</th>
			<th class="c0">生命周期</th>
			<th class="c10">配置</th>
			<th class="c25">可用区域</th>
			<th class="c30">运行状况</th>
			<th class="c10">操作</th>
		</tr>
	</thead>
	<tbody>
	{{each list as item i}}
		<tr data-id="{{item.id}}">
			<td><a class="volume_name" href="javascript:void(0)">{{item.name}}</a></td>
			<td>
			{{if item.life_status == 'inservice'}}
			<span class="text-success">服务中</span>
			{{else if item.life_status == 'pending'}}
			<span class="text-danger">移入中</span>
			{{else}}
			<span class="text-danger">移出中</span>
			{{/if}}
			</td>
			<td>{{item.conf}}</td>
 			<td>{{item.available_zone}}</td>
			<td>
			{{if item.run_status == 'healthy'}}
			<span class="text-success">健康</span>
			{{else}}
			<span class="text-danger">不健康</span>
			{{/if}}
			</td> 			
			<td>
			<a class="btn-opt" data-toggle="tooltip" title="移出伸缩组"><i class="fa fa-files-o"></i></a>
			</td>
		</tr>
 			{{/each}}
	</tbody>
</table>
