<form class="form-horizontal" id="editNamespace">
    <div class="form-group">
        <label for="name" class="control-label col-sm-3">
            名称：</label>
        <div class="col-sm-7 col-sm">
            <input type="text" class="form-control" id="name" name="name" placeholder="{{namespace}}"/>
        </div>
    </div>
    <div class="form-group">
        <label for="display-name" class="control-label col-sm-3">展示名称：</label>
        <div class="col-sm-7 col-sm">
            <input type="text" class="form-control" id="display-name" name="display-name" placeholder="{{display_name}}"/>
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="control-label col-sm-3">
            描述：</label>
        <div class="col-sm-7 col-sm">
            <textarea class="form-control" cols="8" rows="8" id="description" name="description" placeholder="{{description}}"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="visibility" class="control-label col-sm-3">可见性：</label>
        <div class="col-sm-7 col-sm">
            <select name="visibility" id="visibility"  class="form-control select">
                {{if visibility=="public"}}
                <option value="public" selected>public</option>
                <option value="private">private</option>
                {{else}}
                <option value="public">public</option>
                <option value="private" selected>private</option>
                {{/if}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="is-protected" class="control-label col-sm-3">是否受保护：</label>
        <div class="col-sm-7 col-sm">
            <select name="is-protected" id="is-protected"  class="form-control select ">
                {{if 'protected' =="true"}}
                <option value="true" selected>是</option>
                <option value="false">否</option>
                {{else}}
                <option value="true">是</option>
                <option value="false" selected>否</option>
                {{/if}}
            </select>
        </div>
    </div>
</form>