<div class="page-header">
	<ol class="breadcrumb minus">
		<li class="active"><h4>资源池详情</h4></li>
		<li class="backlist"><a href="#fservice/lbaas/pool/">返回列表</a></li>
	</ol>
</div>
<div class="page-body">
	<div class="pane">
		<div class="pane-content">
			<div class="detail-info">
				<div class="tab-content">
					<div class="clearfix">
						<div class="row">
							<label class="control-label col-sm-3">名称：</label>
							<div class="col-sm-7 col-sm">{{subnet.network_id}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">描述：</label>
							<div class="col-sm-7 col-sm">{{subnet.name}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">VIP(虚拟IP)：</label>
							<div class="col-sm-7 col-sm">{{subnet.cidr}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">提供者：</label>
							<div class="col-sm-7 col-sm">IPV{{subnet.ip_version }}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">子网：</label>
							<div class="col-sm-7 col-sm">{{subnet.gateway_ip}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">协议：</label>
							<div class="col-sm-7 col-sm">{{if subnet.gateway_ip != null}}启用{{else}}禁用 {{/if}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">负载均衡方式：</label>
							<div class="col-sm-7 col-sm">{{if subnet.enable_dhcp == '1'}}激活{{else}}禁用 {{/if}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">成员：</label>
							<div class="col-sm-7 col-sm">{{subnet.allocation_pools }}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">监控状况监控：</label>
							<div class="col-sm-7 col-sm">{{if subnet.enable_dhcp == '1'}}激活{{else}}禁用 {{/if}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">管理员状态：</label>
							<div class="col-sm-7 col-sm">{{if subnet.enable_dhcp == '1'}}激活{{else}}禁用 {{/if}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">状态：</label>
							<div class="col-sm-7 col-sm">{{if subnet.enable_dhcp == '1'}}激活{{else}}禁用 {{/if}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
