<form class="form-horizontal">
	<div class="form-group">
		<label for="url_name" class="control-label col-sm-3"><span>* </span>URL名称：</label>
		<div class="col-sm-7 col-sm">
			<input type="text" class="form-control" name="url_name" value="{{urlName}}">
		</div>
	</div>

	<div class="form-group">
		<label for="url_address" class="control-label col-sm-3"><span>* </span>URL地址：</label>
		<div class="col-sm-7 col-sm">
			<input type="text" class="form-control" name="url_address" value="{{urlAddress}}">
		</div>
	</div>
	<div class="form-group">
		<label for="method" class="control-label col-sm-3"><span>* </span>method：</label>
		<div class="col-sm-7 col-sm">
			<select class="form-control select" name="method">
				<option value="POST" {{if method == 'POST'}}selected{{/if}}>POST</option>
				<option value="GET" {{if method == 'GET'}}selected{{/if}}>GET</option>
				<option value="DELETE" {{if method == 'DELETE'}}selected{{/if}}>DELETE</option>
				<option value="PUT" {{if method == 'PUT'}}selected{{/if}}>PUT</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="is_public" class="control-label col-sm-3"><span>* </span>是否公开：</label>
		<div class="col-sm-7 col-sm">
			<select class="form-control select" name="is_public">
				<option value="true" {{if isPublic =='true'}}selected{{/if}}>是</option>
				<option value="false" {{if isPublic == 'false'}}selected{{/if}}>否</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="endpoint_name" class="control-label col-sm-3"><span>* </span>所属端点：</label>
		<div class="col-sm-7 col-sm">
			<input type="hidden" name="endpoint_id" value="{{endpointId}}">
			<input type="text" class="form-control" name="endpoint_name" value="{{endpoint.url}}">
		</div>
	</div>
</form>