<div class="page-header">
	<ol class="breadcrumb minus">
		<li class="active"><h4>网络详情</h4></li>
		<li class="backlist"><a href="#fservice/vpc/network/">返回列表</a></li>
	</ol>
</div>
<div class="page-body">
	<div class="pane">
		<div class="pane-content">
			<div class="detail-info">
				<div class="tab-content">
					<div class="clearfix">
						<p><b>基本信息</b></p>
						<hr>
						<div class="row">
							<label class="control-label col-sm-3">网络名称：</label>
							<div class="col-sm-7 col-sm">{{network.name}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">虚拟机数据中心：</label>
							<div class="col-sm-7 col-sm">{{network.tenant_id}}</div>
						</div>
						<!-- <div class="row">
							<label class="control-label col-sm-3">网络地址范围（CIDR）：</label>
							<div class="col-sm-7 col-sm">{{network.cidr}}</div>
						</div> -->
						<div class="row">
							<label class="control-label col-sm-3">管理状态：</label>
							<div class="col-sm-7 col-sm">{{if network.admin_state_up == true}}启用{{else}}禁用 {{/if}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">共享状态：</label>
							<div class="col-sm-7 col-sm">{{if network.shared == true}}启用{{else}}禁用 {{/if}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">网络类型：</label>
							<div class="col-sm-7 col-sm">{{if network["router:external"] == true}}外部{{else}}内部 {{/if}}</div>
						</div>
						<p><b>子网信息</b></p>
						<hr>
						<div id="subnetTableDiv" style="overflow: hidden;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
