<div class="page-header clearfix">
    <ol class="breadcrumb">
        <li class="active">物理区域列表</li>
    </ol>
    <p class="description">
        区域，一般以地域进行划分，并且一个地域一套IOPManager，不同地域之间通过顶层IOPManager的统一认证授权访问进行控制，实现级联云服务管理。
    </p>
</div>
<div class="page-body">
    <div class="pane">
        <div class="pane-content">
            <table class="table table-primary table-striped" id="regionTable">
                <thead>
                <tr>
                    <th class="c1">编号</th>
                    <th class="c2">地域名称</th>
                    <th class="c2">云服务版本</th>
                    <th class="c2">IP</th>
                    <th class="c2">连接状态</th>
                    <th class="c2">管理状态</th>
                    <th class="c3 sorting_disabled" >操作</th>
                </tr>
                </thead>
                <tbody>
                {{each cloudService as item i}}
                <tr>
                    <td>{{i}}</td>
                    <td>{{item.region.name}}</td>
                    <td>{{item.connector.version}}</td>
                    <td>{{item.connector.ip}}</td>
                    {{if item.serviceStatus !="false" }}
                        <td>正常</td>
                    {{else}}
                        <td>异常</td>
                    {{/if}}
                    {{if item.adminStatus !="false"&&item.adminStatus !="0"  }}
                        <td>可用</td>
                    {{else}}
                        <td>不可用</td>
                    {{/if}}
                    <td>
                        {{if item.adminStatus =="true" || item.adminStatus =="1"  }}
                            <a class="btn-opt pull-left stop-service" data-toggle="tooltip" data-act="0" style="margin: 0 5px;" data="{{item.id}}">停止使用</a>
                       {{else}}
                            <a class="btn-opt pull-left stop-service" data-toggle="tooltip" data-act="1" style="margin: 0 5px;" data="{{item.id}}">立即启用</a>
                        {{/if}}
                        <a class="btn-opt pull-left edit" data-toggle="tooltip" data-act="edit" style="margin: 0 5px;" data="{{item.id}}">编辑</a>
                        <a class="btn-opt pull-left delete" data-toggle="tooltip" data-act="delete" style="margin: 0 5px;" data="{{item.id}}">删除</a>
                    </td>
                </tr>
                {{/each}}
                </tbody>

            </table>
        </div>
    </div>
</div>