<div class="page-header">
    <ol class="breadcrumb minus">
        <li><a href="#cresource/region" class="reload">物理区域管理</a></li>
        <li class="active">{{region.name}}</li>
        <li class="backlist"><a href="#cresource/region">返回列表</a></li>
    </ol>
</div>
<div class="page-body">
    <div class="pane">
        <div class="pane-content">
            <div class="detail-info">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"  data-for="basic"><a href="javascript:void(0)">地区基本信息</a></li>
                    <li data-for="cloudService"><a href="javascript:void(0)">地区云服务</a></li>
                </ul>
                <div class="tab-content detail-info-content">
                    <div class="tab-pane basic active">
                        <div class="clearfix">
                            <div class="row">
                                <label  class="control-label col-sm-3">ID：</label>
                                <div class="col-sm-7 col-sm query-info query-volume-name">
                                    {{region.id}}
                                </div>
                            </div>
                            <div class="row">
                                <label  class="control-label col-sm-3">名称：</label>
                                <div class="col-sm-7 col-sm query-info query-volume-name">
                                    {{region.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane cloudService">
                        <div class="clearfix">
                            <div class="row">
                                <label class="control-label col-sm-3">ID：</label>
                                <div class="col-sm-7 col-sm query-info query-volume-size">
                                    {{id}}
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-sm-3">名称：</label>
                                <div class="col-sm-7 col-sm query-info query-volume-size">
                                    {{name}}
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-sm-3">版本：</label>
                                <div class="col-sm-7 col-sm query-info query-volume-size">
                                    {{connector.version}}
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-sm-3">IP：</label>
                                <div class="col-sm-7 col-sm query-info query-volume-size">
                                    {{connector.ip}}
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-sm-3">端口号：</label>
                                <div class="col-sm-7 col-sm query-info query-volume-size">
                                    {{connector.port}}
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-sm-3">用户名：</label>
                                <div class="col-sm-7 col-sm query-info query-volume-size">
                                    {{connector.username}}
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-sm-3">服务状态：</label>
                                <div class="col-sm-7 col-sm query-info query-volume-type">
                                    {{if serviceStatus=='true'}}
                                    <span class="text-success">可用</span>
                                    {{else }}
                                    <span class="text-info">不可用</span>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-sm-3">管理状态：</label>
                                <div class="col-sm-7 col-sm query-info query-volume-type">
                                    {{if adminStatus == '1'}}
                                    <span class="text-success">可用</span>
                                    {{else}}
                                    <span class="text-info">不可用</span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
