<div class="page-header">
	<ol class="breadcrumb minus">
		<li class="active"><h4>成员详情</h4></li>
		<li class="backlist"><a href="#fservice/lbaas/member/">返回列表</a></li>
	</ol>
</div>
<div class="page-body">
	<div class="pane">
		<div class="pane-content">
			<div class="detail-info">
				<div class="tab-content">
					<div class="clearfix">
						<div class="row">
							<label class="control-label col-sm-3">ID：</label>
							<div class="col-sm-7 col-sm">{{subnet.network_id}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">资源池：</label>
							<div class="col-sm-7 col-sm">{{subnet.name}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">地址：</label>
							<div class="col-sm-7 col-sm">{{subnet.cidr}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">协议端口：</label>
							<div class="col-sm-7 col-sm">{{subnet.ip_version }}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">重量：</label>
							<div class="col-sm-7 col-sm">{{subnet.ip_version}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">管理员状态：</label>
							<div class="col-sm-7 col-sm">{{if subnet.gateway_ip != null}}启用{{else}}禁用 {{/if}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">状态：</label>
							<div class="col-sm-7 col-sm">{{if subnet.enable_dhcp == '1'}}激活{{else}}禁用 {{/if}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
