<div class="page-header">
	<ol class="breadcrumb minus">
		<li class="active">策略详情</li>
		<li class="backlist"><a href="#fservice/security/firewall/tab/policy">返回列表</a></li>
	</ol>
</div>
<div class="page-body">
	<div class="pane">
		<div class="pane-content">
			<div class="detail-info">
				<div class="tab-content">
					<div class="clearfix">
						<p><b>基本信息</b></p>
						<hr>
						<div class="row">
							<label for="name" class="control-label col-sm-3">名称：</label>
							<div class="col-sm-7 col-sm">
								{{firewall_policy.name}}
							</div>
						</div>
						<div class="row">
							<label for="description" class="control-label col-sm-3">描述：</label>
							<div class="col-sm-7 col-sm">
								{{firewall_policy.description}}
							</div>
						</div>
						<div class="row">
							<label for="firewall_rules" class="control-label col-sm-3">规则：</label>
							<div class="col-sm-7 col-sm">
								{{firewall_policy.firewallRuleNames}}
							</div>
						</div>
						<div class="row">
							<label for="shared" class="control-label col-sm-3">共享的：</label>
							<div class="col-sm-7 col-sm">
								{{if firewall_policy.shared}} 
									 是
								{{else}}
									否
								{{/if}}
							</div>
						</div>
						<div class="row">
							<label for="audited" class="control-label col-sm-3">已审计：</label>
							<div class="col-sm-7 col-sm">
								{{if firewall_policy.audited}} 
									 是
								{{else}}
									否
								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>