<form class="form-horizontal" id="editImage" enctype="multipart/form-data" method="post">
	<div class="form-group">
		<label for="name" class="control-label col-sm-4"><span style="color: red;">* </span>名称：</label>
	 	<div class="col-sm-5 col-sm">
			<input type="text" class="form-control" name="name" value="{{name}}">
		</div>
	</div>
	<div class="form-group">
		<label for="description" class="control-label col-sm-4">描述：</label>
	 	<div class="col-sm-5 col-sm">
			<textarea class="form-control" style="height:auto;" rows="4" name="description" placeholder="">{{if id!=null}}{{properties.description}}{{/if}}</textarea>
		</div>
	</div>
	<div class="form-group {{if id!=null}} hidden {{/if}}" id="imageSourceDiv">
		<label for="imageSource" class="control-label col-sm-4"><span style="color: red;"></span>镜像源：</label>
	 	<div class="col-sm-5 col-sm">
		 	<select class="form-control select" name="imageSource" value="address">
			 	<option value="address">镜像地址</option>
			 	<option value="file">镜像文件</option>
		 	</select>
		</div>
	</div>
	<div class="form-group">
		<label for="className" class="control-label col-sm-4"><span style="color: red;">* </span>镜像地址：</label>
	 	<div class="col-sm-5 col-sm">
			<input type="text" class="form-control" name="locations" value="{{locations}}" {{if id!=null}} readonly {{/if}}>
		</div>
	</div>
	<div class="form-group">
		<label for="className" class="control-label col-sm-4"><span style="color: red;">* </span>镜像文件：</label>
	 	<div class="col-sm-5 col-sm">
			<input type="file" class="form-control" name="file" >
		</div>
	</div>
	<div class="form-group">
		<label for="strategyGroupId" class="control-label col-sm-4"><span style="color: red;">* </span>镜像格式：</label>
	 	<div class="col-sm-5 col-sm">
		 	<select class="form-control select" name="diskFormat" id="diskFormat">
			 	<option value="QCOW2">QCOW2</option>
			 	<option value="RAW">RAW</option>
			 	<option value="VHD">VHD</option>
			 	<option value="VMDK">VMDK</option>
			 	<option value="VDI">VDI</option>
			 	<option value="ISO">ISO</option>
			 	<option value="AKI">AKI</option>
			 	<option value="ARI">ARI</option>
			 	<option value="AMI">AMI</option>
			 	<option value="UNRECOGNIZED">UNRECOGNIZED</option>
		 	</select>
		</div>
	</div>
	<div class="form-group">
		<label for="strategyGroupId" class="control-label col-sm-4"><span style="color: red;">* </span>最小磁盘(GB)：</label>
	 	<div class="col-sm-5 col-sm">
		 	<div class="spinbox"  id="setVmNums">
			  <input type="text" name="minDisk" style="height:35px;"  class="form-control input-mini spinbox-input" value="{{minDisk}}">
			  <div class="spinbox-buttons btn-group btn-group-vertical">
			    <button type="button" class="btn btn-default spinbox-up btn-xs">
			      <span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
			    </button>
			    <button type="button" class="btn btn-default spinbox-down btn-xs">
			      <span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
			    </button>
			  </div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="strategyGroupId" class="control-label col-sm-4"><span style="color: red;">* </span>最小内存(MB)：</label>
	 	<div class="col-sm-5 col-sm">
		 	<div class="spinbox"  id="setVmNums">
			  <input type="text" name="minRam" style="height:35px;"  class="form-control input-mini spinbox-input" value="{{minRam}}">
			  <div class="spinbox-buttons btn-group btn-group-vertical">
			    <button type="button" class="btn btn-default spinbox-up btn-xs">
			      <span class="glyphicon glyphicon-chevron-up"></span><span class="sr-only">Increase</span>
			    </button>
			    <button type="button" class="btn btn-default spinbox-down btn-xs">
			      <span class="glyphicon glyphicon-chevron-down"></span><span class="sr-only">Decrease</span>
			    </button>
			  </div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="className" class="control-label col-sm-4"><span style="color: red;"></span></label>
	 	{{if id!=null}}
	 	<div class="col-sm-5 col-sm">
			公有：<input type="checkbox" name="isPublic" id="isPublic" {{if isPublic==true}} checked {{/if}}>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			受保护的：<input type="checkbox" name="isProtected" id="isProtected" {{if isProtected==true}} checked {{/if}}>
		</div>
		{{else}}
		<div class="col-sm-5 col-sm">
			公有：<input type="checkbox" id="isPublic_checkbox">
			<input type="hidden" name="isPublic" id="isPublic" value="0">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			受保护的：<input type="checkbox" id="isProtected_checkbox">
			<input type="hidden" name="isProtected" id="isProtected" value="0">
		</div>
		{{/if}}
	</div>
</form>