<div class="page-header clearfix">
	<ol class="breadcrumb">
	  <li class="active">镜像管理</li>
	</ol>
	<p class="description">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		镜像（Image） 是带有操作系统的主机模板，分为镜像和快照，镜像是已创建好的主机模版，快照是根据主机生成的系统备份。
		用户可以基于已有镜像创建主机，也可以将自有主机创建为快照，以备后用。
	</p>
</div>
<div class="page-body">
	<div class="pane">
		<div class="pane-content">
			<table class="table table-primary table-striped" id="imageTable">
				<thead>
					<tr>
						<th style="width:15%">镜像名称</th>
						<th style="width:15%">VDC</th>
						<th style="width:8%">镜像类型</th>
						<th style="width:8%">状态</th>
						<th style="width:8%">公有</th>
						<th style="width:8%">受保护的</th>
						<th style="width:8%">格式</th>
						<th style="width:15%">创建时间</th>
						<th style="width:15%">操作</th>
					</tr>
				</thead>
				<tbody>
				{{each list as item i}}
					<tr>
						<td>{{item.name}}</td>
						<td>{{item.vdcName}}</td>
						<td>{{item.imageType}}</td>
						<td>{{item.status}}</td>
						<td>{{if item.isPublic}} 是{{else}} 否 {{/if}}</td>
						<td>{{if item.isProtected}} 是{{else}} 否 {{/if}}</td>
						<td>{{item.diskFormat}}</td>
						<td>{{item.created_at}}</td>
						<td>
						<a class="btn-opt" data-toggle="tooltip" title="编辑镜像" href="javascript:void(0)" data="{{item.id}}" data-act="stop" style="margin: 0;"><li class="glyphicon glyphicon-edit"></li></a>
						<div class="dropdown">
							<span class="btn btn-more dropdown-toggle" data-toggle="dropdown" aria-expanded="false">更 多 <i class="fa fa-angle-down fa-fw"></i></span>
							<ul class="dropdown-menu" style="right: 0;left: initial;">
								<li><a href="javascript:void(0)" class="delete" data="{{item.id}}"><i class="fa fa-trash-o fa-fw"></i>删除</a></li>
							</ul>
						</div>	
						</td>
					</tr>
    			{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
