<div class="page-header">
	<ol class="breadcrumb minus">
		<li class="active"><h4>子网详情</h4></li>
		<li class="backlist"><a href="#fservice/vpc/subnet/">返回列表</a></li>
	</ol>
</div>
<div class="page-body">
	<div class="pane">
		<div class="pane-content">
			<div class="detail-info">
				<div class="tab-content">
					<div class="clearfix">
						<div class="row">
							<label class="control-label col-sm-3">网络：</label>
							<div class="col-sm-7 col-sm">{{subnet.network_id}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">子网名称：</label>
							<div class="col-sm-7 col-sm">{{subnet.name}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">CIDR地址：</label>
							<div class="col-sm-7 col-sm">{{subnet.cidr}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">IP版本：</label>
							<div class="col-sm-7 col-sm">IPV{{subnet.ip_version }}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">网关IP：</label>
							<div class="col-sm-7 col-sm">{{subnet.gateway_ip}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">网关：</label>
							<div class="col-sm-7 col-sm">{{if subnet.gateway_ip != null}}启用{{else}}禁用 {{/if}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">DHCP：</label>
							<div class="col-sm-7 col-sm">{{if subnet.enable_dhcp == '1'}}激活{{else}}禁用 {{/if}}</div>
						</div>
						<div class="row">
							<label class="control-label col-sm-3">分配地址池：</label>
							<div class="col-sm-7 col-sm">{{subnet.allocation_pools }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
