<style>
<!--
.dialog-modal .table-primary > tbody > tr > td, .dialog-modal .table-primary > thead > tr > th{
	border-right: 1px solid #e4e9ec;
}
.dialog-modal .table-primary .btn-primary{
	float:right;
}
-->
</style>
<form class="form-horizontal" style="overflow: hidden;">
	<div class="col-sm-9">
		<table class="table table-primary" id="authorityInfo">
			<thead>
				<tr>
					<th class="c3">关联VDC</th>
					<th class="c4">角色</th>
					<th class="c1 sorting_disabled">操作</th>
				</tr>
			</thead>
			<tbody>
				{{each list as item i}}
					<tr>
						<td><span class="vdc">{{item.name}}</span><input type="hidden" name="vdc" value="{{item.id}}"/>
						<span class="btn btn-primary chooseVDC">选择</span></td>
						<td><span class="role">
						{{each item.roles as items i}}
							{{if i == 0}}
								{{items.name}}
							{{else}}
								,{{items.name}}
							{{/if}}
						{{/each}}
						</span><input type="hidden" name="role" value="{{each item.roles as items i}}
							{{if i == 0}}
								{{items.id}}
							{{else}}
								,{{items.id}}
							{{/if}}
						{{/each}}"/>
						<span class="btn btn-primary chooseRole">选择</span></td>
						<td>
							<a class="btn-delete" data-toggle="tooltip" title="删除" href="javascript:void(0)" style="margin: 0 8px;"><i class="fa fa-trash-o fa-fw"></i></a>
						</td>
					</tr>
				{{/each}}
				
			</tbody>
		</table>
		<div style="text-align: center;">
			<span class="btn btn-primary addAuthority">添加行</span>
		</div>
	</div>
	<div class="col-sm-3">
		<p>帮助说明；帮助说明；帮助说明；帮助说明；帮助说明；帮助说明；帮助说明；帮助说明；</p>
	</div>
</form>