<div class="page-header clearfix">
	<ol class="breadcrumb">
	  <li class="active">规则列表</li>
	  <a href="javascript:void(0);" class="reload" style="padding: 6px 12px;font-size: 14px;">返回安全组列表</a>
	</ol>
</div>
<div class="page-body">
	<div class="pane">
		<div class="pane-content">
			<table class="table table-primary table-striped" id="SecurityruleTable">
				<thead>
					<tr>
						<th class="c1">
							<label><input type="checkbox" class="selectAll"></label>
						</th>
						<th class="c1">方向</th>
						<th class="c2">以太网类型</th>
						<th class="c3">IP协议</th>
						<th class="c2">端口范围</th>
						<th class="c2">远程IP范围</th>
						<th class="c2">远程安全组</th>
						<th class="c2 sorting_disabled">操作</th>
					</tr>
				</thead>
				<tbody>
				{{each security_group_rules as item i}}
					<tr>
						<td><label><input type="checkbox"></label></td>
						<td>{{if item.direction=='egress'}}出口{{else}}入口{{/if}}</td>
						<td>{{item.ethertype}}</td>
						<td>{{if item.protocol==null}}任何{{else}}{{item.protocol}}{{/if}}</td>
						<td>
						{{if item.port_range_min==null&&item.port_range_max==null}}任何
						{{else if item.port_range_min==item.port_range_max}}{{item.port_range_min}}
						{{else}} {{item.port_range_min}}-{{item.port_range_max}}
						{{/if}}
						</td>
						<td>{{item.remote_ip_prefix}}
						{{if item.remote_ip_prefix==null&&item.remote_group_id==null&&item.ethertype=="IPv4"}}0.0.0.0/0
						{{else if item.remote_ip_prefix==null&&item.remote_group_id==null&&item.ethertype=="IPv6"}}::/0
						{{else}} {{item.remote_ip_prefix}}
						{{/if}}
						</td>
						<td>{{item.remote_group_id}}</td>
						<td>
							<a class="btn-delete" data-toggle="tooltip" title="删除" href="javascript:void(0)" data="{{item.id}}"><i class="fa fa-trash-o fa-fw"></i></a>	
						</td>
					</tr>
    			{{/each}}
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
