<form class="form-horizontal" id="addSubnet">
	<div class="form-group">
		<label for="name" class="control-label col-sm-3">
	 	<span style="color: red;">* </span>子网名称：</label>
	 	<div class="col-sm-7 col-sm">
			<input type="text" class="dialog-form-control input-readonly" name="name" value="{{name}}" readonly="readonly">
		</div>
	</div>
	<div class="form-group">
		<label for="cidr" class="control-label col-sm-3">
	 	<span style="color: red;">* </span>CIDR地址：</label>
	 	<div class="col-sm-7 col-sm">
			<input type="text" class="dialog-form-control input-readonly" name="cidr" value="{{cidr}}" readonly="readonly">
		</div>
	</div>
	<div class="form-group">
		<label for="gateway_ip" class="control-label col-sm-3">
	 	<span style="color: red;">* </span>网关IP：</label>
	 	<div class="col-sm-7 col-sm">
			<input type="text" class="dialog-form-control" name="gateway_ip" value="{{gateway_ip}}">
		</div>
	</div>
	<div class="form-group">
		<label for="server-name" class="control-label col-sm-3">
	 	禁用网关：</label>
	 	<div class="col-sm-7 col-sm">
			<label><input type="checkbox" {{if os_conf=='IPV4'}}checked {{/if}}></label>
		</div>
	</div>
	<div class="form-group">
		<label for="enable_dhcp" class="control-label col-sm-3">
	 	激活DHCP：</label>
	 	<div class="col-sm-7 col-sm">
			<label><input type="checkbox" {{if enable_dhcp=='1'}}checked {{/if}} name="enable_dhcp"></label>
		</div>
	</div>
	<div class="form-group">
		<label for="server-name" class="control-label col-sm-3">
	 	<span style="color: red;">* </span>DNS域名解析服务：</label>
	 	<div class="col-sm-7 col-sm">
			<input type="text" class="dialog-form-control" name="subnet-name" value="">
		</div>
	</div>
	<div class="form-group">
		<label for="server-name" class="control-label col-sm-3">
	 	<span style="color: red;">* </span>主机路由：</label>
	 	<div class="col-sm-7 col-sm">
			<input type="text" class="dialog-form-control" name="subnet-name" value="">
		</div>
	</div>
</form>