<div class="page-header clearfix">
	<ol class="breadcrumb">
	  <li class="active"><i class="icon-squre-d"></i>云主机</li>
	</ol>
	<p class="description">
		云主机就是按照你所期望的硬件配置、操作系统和网络配置，启动的一台虚拟的服务器。它从你所拥有的计算、存储、网络资源池中获取资源，提供一种随时获取的、弹性的计算能力。您完全可以动态地、按需使用计算能力。
	</p>
</div>
<div class="page-body">
	<div class="pane">
		<div class="pane-content">
			<table class="table table-primary table-striped" id="VmTable">
				<thead>
					<tr>
						<th class="c2">
							<label><input type="checkbox" class="selectAll"></label>
						</th>
						<th class="c12">名称</th>
						<th class="c12">内部IP</th>
						<th class="c12">浮动IP</th>
						<th class="c13">配置</th>
						<th class="c6">可用域</th>
						<th class="c10">虚拟数据中心</th>
						<th class="c6">状态</th>
						<th class="c15">创建时间</th>
						<th class="c12">操作</th>
					</tr>
				</thead>
				<tbody>
				{{each list as item i}}
					<tr>
						<td><label><input type="checkbox"></label></td>
						<td><a href="javascript:void(0);" class="vm_name" data="{{item.id}}">{{item.name}}</a></td>
						<td>{{item.fixedIps}}</td>
						<td class="vm_floating_ips">{{#item.floatingIps}}</td>
						<td>
						{{if item.flavor != null}}
							{{(item.flavor.ram%512==0)?(item.flavor.ram/1024):(item.flavor.ram/1024).toFixed(1)}}GB|{{item.flavor.vcpus}}CPUs|{{item.flavor.disk}}GB
						{{/if}}
						</td>
						<td>{{item.availability_zone}}</td>
						<td>{{item.vdcName}}</td>
						<td>
			 			{{if item.vmState == 'ACTIVE'}} <span class="text-success">运行中</span>
							{{else if item.vmState == 'BUILD'}} <span class="text-warning">创建中</span>
							{{else if item.vmState == 'REBUILD'}} <span class="text-success">重建中</span>
							{{else if item.vmState == 'SUSPENDED'}} <span class="text-danger">已挂起</span>
							{{else if item.vmState == 'PAUSED'}} <span class="text-danger">已暂停</span>
							{{else if item.vmState == 'RESIZE'}} <span class="text-danger">重建中</span>
							{{else if item.vmState == 'VERIFY_RESIZE'}} <span class="text-success">确认重建</span>
							{{else if item.vmState == 'REVERT_RESIZE'}} <span class="text-success">回退重建</span>
							{{else if item.vmState == 'REBOOT'}} <span class="text-warning">重启中</span>
							{{else if item.vmState == 'HARD_REBOOT'}} <span class="text-warning">硬重启中</span>
							{{else if item.vmState == 'DELETED'}} <span class="text-danger">已删除</span>
							{{else if item.vmState == 'ERROR'}} <span class="text-danger">错误</span>
							{{else if item.vmState == 'SHUTOFF'}} <span class="text-danger">关机</span>
							{{else}} <span class="text-danger">未知</span>
			 			{{/if}}
			 			</td>
			 			<td>{{item.created_at}}</td>
						<td>
						<!-- <a class="btn-opt" data-toggle="tooltip" title="备份"  style="margin: 0;"><i class="fa fa-files-o"></i></a> -->
						<a href="javascript:void(0)" class="btn-opt createSnapshot" data-toggle="tooltip" title="创建快照" data-act="stop" data="{{item.id}}" style="margin: 0;"><i class="fa fa-camera"></i></a>
						<!-- <a class="btn-opt" data-toggle="tooltip" title="控制台" data-act="delete"><i class="glyphicon glyphicon-trash"></i></a> -->
						{{if item.vmState != 'PAUSED' && item.vmState != 'SHUTOFF' && item.vmState != 'SUSPENDED'}}
						<div class="dropdown">
							<a class="btn-opt dropdown-toggle" data-toggle="dropdown" title="更多"  aria-expanded="false" ><i class="fa fa-angle-double-right"></i></a>
							<ul class="dropdown-menu" style="right: 0;left: initial;">
								<li><a href="javascript:void(0)" class="attachIp" data="{{item.id}}"><i class="fa fa-gear fa-fw"></i>绑定浮动IP</a></li>
								<li><a href="javascript:void(0)" class="dettachIp" data="{{item.id}}"><i class="fa fa-gear fa-fw"></i>解除浮动IP绑定</a></li>
								<li><a href="javascript:void(0)" class="editName" data="{{item.name}}"><i class="fa fa-file-text fa-fw"></i>修改云主机名称</a></li>
								<li><a href="javascript:void(0)" class="editSecurity" data="{{item.id}}"><i class="fa fa-file-text fa-fw"></i>编辑安全组</a></li>
								<li><a href="javascript:void(0)" class="vncConsole" data="{{item.id}}"><i class="fa fa-file-text fa-fw"></i>控制台</a></li>
								<li><a href="javascript:void(0)" class="consoleOutput" data="{{item.id}}"><i class="fa fa-file-text fa-fw"></i>查看日志</a></li>
								<li><a href="javascript:void(0)" class="pause" data="{{item.id}}"><i class="fa fa-file-text fa-fw"></i>暂停</a></li>
								<li><a href="javascript:void(0)" class="suspend" data="{{item.id}}"><i class="fa fa-file-text fa-fw"></i>挂起</a></li>
								<li><a href="javascript:void(0)" class="editVmType" data="{{item.id}}"><i class="fa fa-file-text fa-fw"></i>调整配置</a></li>
								<li><a href="javascript:void(0)" class="rebootSoft" data="{{item.id}}"><i class="fa fa-refresh fa-fw"></i>软重启</a></li>
								<li><a href="javascript:void(0)" class="rebootHard" data="{{item.id}}"><i class="fa fa-refresh fa-fw"></i>硬重启</a></li>
								<li><a href="javascript:void(0)" class="osStop" data="{{item.id}}"><i class="fa fa-power-off fa-fw"></i>关闭</a></li>
								<li><a href="javascript:void(0)" class="rebuild" data="{{item.id}}"><i class="fa fa-file-text fa-fw"></i>重建</a></li>
								<li><a href="javascript:void(0)" class="delete" data="{{item.id}}"><i class="fa fa-file-text fa-fw"></i>终止</a></li>
							</ul>
						</div>	
						{{else}}
						<div class="dropdown">
                            <a class="btn-opt dropdown-toggle" data-toggle="dropdown" title="更多"  aria-expanded="false" ><i class="fa fa-angle-double-right"></i></a>
                            <ul class="dropdown-menu" style="right: 0;left: initial;">
                                <li><a href="javascript:void(0)" class="attachIp" data="{{item.id}}"><i class="fa fa-gear fa-fw"></i>绑定浮动IP</a></li>
                                <li><a href="javascript:void(0)" class="dettachIp" data="{{item.id}}"><i class="fa fa-gear fa-fw"></i>解除浮动IP绑定</a></li>
                                <li><a href="javascript:void(0)" class="editName" data="{{item.name}}"><i class="fa fa-file-text fa-fw"></i>修改云主机名称</a></li>
                                <li><a href="javascript:void(0)" class="resume" data="{{item.id}}" vm_state="{{item.vmState}}"><i class="fa fa-file-text fa-fw"></i>恢复</a></li>
                                <li><a href="javascript:void(0)" class="delete" data="{{item.id}}"><i class="fa fa-file-text fa-fw"></i>终止</a></li>
                            </ul>
                        </div>  
						{{/if}}
						</td>
					</tr>
    			{{/each}}
				</tbody>
				<tfoot>
					<tr>
						<td>
							<span class="text-danger">*</span> 可通过在实例上"<span class="nums">右键</span>"来进行常用操作,"<span class="nums">双击</span>"来编辑基本属性
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
