<style>
	.edit-vm-list .icheckbox-info{margin-right:15px; }
</style>
<div class="page-header clearfix">
	<ol class="breadcrumb">
	  <li class="active"><i class="icon-squre-d"></i>磁盘</li>
	</ol>
	<p class="description">提供一种随时获取的、弹性的计算能力，这种计算能力的体现就是 主机（Instance）。主机就是一台配置好了的服务器，它有您期望的硬件配置、操作系统和网络配置。
	通常情况下，您的请求可以在10秒到60秒的时间之内 完成，所以您完全可以动态地、按需使用计算能</p>
</div>
<div class="page-body">
	<div class="pane">
		<div class="pane-content">
			<table class="table table-primary table-striped" id="VolumeTable">
				<thead>
					<tr>
						<th class="c2">
							<label><input type="checkbox" class="selectAll"></label>
						</th>
						<th class="c12">名称</th>
						<th class="c6">容量</th>
						<th class="c8">状态</th>
						<th class="c10">挂载主机</th>
						<th class="c10">卷类型</th>
						<th class="c10">虚拟数据中心</th>
						<th class="c10">可用域</th>
						<th class="c3">只读</th>
						<th class="c15">描述</th>
						<th class="c14">操作</th>
					</tr>
				</thead>
				<tbody>
				{{each list as item i}}
					<tr data-id="{{item.id}}">
						<td><label><input type="checkbox"></label></td>
						<td><a class="volume_name" href="#ccenter/block/detail!{{item.id}}">{{item.name}}</a></td>
						<td>{{item.size}}</td>
						<td>
			 			{{if item.status == 'in-use'}}
			 				<span class="text-success">使用中</span>
			 				{{else if item.status == 'available'}}
			 					<span class="text-info">可用</span>
			 						{{else}}
			 							<span class="text-danger">已删除</span>
			 			{{/if}}
			 			</td>
						<td>{{item.vm_id}}</td>
						<td>{{item.type}}</td>
						<td>{{item.vdc_id}}</td>
						<td>{{item.available_zone}}</td>
						<td>
			 			{{if item.read_only == '1'}}
			 				<span class="text-success">是</span>
			 				{{else}}
			 				<span class="text-danger">否</span>
			 			{{/if}}
			 			</td>
			 			<td>{{item.description}}</td>
						<td>
						<a class="btn-opt" data-toggle="tooltip" title="创建快照"  style="margin: 0;"><i class="fa fa-camera"></i></a>
						<a class="btn-opt" data-toggle="tooltip" title="备份"  style="margin: 0;"><i class="fa fa-files-o"></i></a>
						
						<div class="dropdown">
							<!-- <span class="btn btn-more dropdown-toggle" data-toggle="dropdown" aria-expanded="false">更 多 <i class="fa fa-angle-down fa-fw"></i></span> -->
							<a class="btn-opt dropdown-toggle" data-toggle="dropdown" title="更多"  aria-expanded="false" ><i class="fa fa-angle-double-right"></i></a>
							<ul class="dropdown-menu" style="right: 0;left: initial;">
								<li><a class="edit_mount" href="javascript:void(0)"><i class="fa fa-file-text fa-fw"></i>挂载到虚机</a></li>
								<li><a href="javascript:void(0)"><i class="fa fa-gear fa-fw"></i>从虚机卸载</a></li>
								<li><a href="javascript:void(0)" class="" data="{{item.name}}"><i class="fa fa-file-text fa-fw"></i>扩展容量</a></li>
								<li><a href="javascript:void(0)" class="" data="{{item.id}}"><i class="fa fa-file-text fa-fw"></i>设置为只读</a></li>
								<li><a href="javascript:void(0)"><i class="fa fa-file-text fa-fw"></i>设置为读写</a></li>
								<li><a href="javascript:void(0)"><i class="fa fa-file-text fa-fw"></i>备份</a></li>
								<li><a class="delete" href="javascript:void(0)"><i class="fa fa-file-text fa-fw"></i>删除</a></li>
							</ul>
						</div>
						</td>
					</tr>
    			{{/each}}
				</tbody>
				<tfoot>
					<tr>
						<td>
							<span class="text-danger">*</span> 可通过在实例上"<span class="nums">右键</span>"来进行常用操作,"<span class="nums">双击</span>"来编辑基本属性
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
