@CHARSET "UTF-8";
.table-primary thead .c0{
	width:2%;
}
.table-primary thead .c1{
	width:5%;
}
.table-primary thead .c2{
	width:10%;
}
.table-primary thead .c3{
	width:15%;
}
.table-primary thead .c4{
	width:20%;
}
.table-primary thead .c5{
	width:25%;
}
.table-primary thead .c6{
	width:30%;
}
.table-primary tfoot tr{
	height:50px;
}
.tableMenus  select.select-envir{
	float:right;
	margin-top:6px;
}